@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  margin: 0;
  background: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}

header {
  background: #fff;
}

header .container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
header h1 {
  font-size: 1.4rem;
  padding: 6px;
  border-radius: 6px;
}
header h1:hover{
  background-color: #333;
  color: white;
  cursor: pointer;
}
header a {
  color: #333;
  text-decoration: none;
}
header .logout {
  border-radius: 6px;
  border: 2px solid var(--primary);
  color: var(--primary);
  font-size: 1rem;
  letter-spacing: 1px;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 1em;
  color: #555;
}
.workout-details p.time{
  font-size: 0.8em;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form - login - signup */
form{
  max-width: 500px;
  margin: 20px auto;
  background: #fff;
  padding: 40px 20px;
  border-radius: 12px;
  border: 1px solid gray;
}

label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px auto;
  max-width: 500px;
}

input.error{
  border: 2px solid var(--error);
}